@{
    ViewData["Title"] = "Contacting us";
}
<h1>@ViewData["Title"]</h1>

<p>Its easy to contact us in different ways.</p><br /><br />

<a asp-area="" asp-controller="Home" asp-action="Index">Go back to Home page</a>
