@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Loans Engine</h1>
    <p class="pcenter">
        Loans are secured against property - Think carefully before securing other debts against your home. Your home may be repossessed if you do not keep up repayments on a mortgage or any other debt secured on it. We do not offer mortgages from high street lenders, so you should apply there first. If you were rejected, we may be able to help you.
    </p>

    <p class="pcenter">
        Loans are secured against property - Think carefully before securing other debts against your home. Your home may be repossessed if you do not keep up repayments on a mortgage or any other debt secured on it. We do not offer mortgages from high street lenders, so you should apply there first. If you were rejected, we may be able to help you.
    </p>
</div>
