@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The details of our site's privacy policy.</p>

<a asp-area="" asp-controller="Home" asp-action="Index">Go back to Home page</a>
