@{
    ViewData["Title"] = "You are NOT registered";
}
<h1>@ViewData["Title"]</h1>

<p>Something went wrong...try again later.</p>

<a asp-area="" asp-controller="Home" asp-action="Index">Go back to Home page</a>
