@{
    ViewData["Title"] = "You are regestered";
}
<h1>@ViewData["Title"]</h1>

<p>Thank you for registering with us.</p>

<a asp-area="" asp-controller="Home" asp-action="Index">Go back to Home page</a>
